/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
	
body {
	background: #f9faf7;
  font-family: 'Noto Sans', sans-serif;
}
header {
	/*border: 1px solid;*/
	background: none repeat scroll 0% 0% #4472B9;
  margin: -10px 0px 10px -10px;
  padding: 10px;
  color: #ffffff;
  width: 100%;
  overflow: auto;
  font-family: 'Ubuntu', sans-serif;
}
header a,
header a:link,
header a:hover,
header a:visited,
a.submit-link ,
a.submit-link :link,
a.submit-link :hover,
a.submit-link :visited,
#default-banner #site-title a,
#default-banner #site-title a:link,
#default-banner #site-title a:hover,
#default-banner #site-title a:visited,
.book .btn-book a,
.book .btn-book a:link,
.book .btn-book a:hover,
.book .btn-book a:visited{
	text-decoration: none;
	color: #ffffff;
}
.book a,
.book a:link,
.book a:hover,
.book a:visited,
#page-wrapper .book  a,
#page-wrapper .book .booktitle a:link,
#page-wrapper .book .booktitle a:hover,
#page-wrapper .book .booktitle a:visited {
  text-decoration: none;
  color: #000000; 
}
#header-container {
  width:800px;
  margin: 0px auto;
}
#navigation {
	/*border: 1px solid;*/
	float: right;
  margin: 0px 0px 0px 0px;
  padding: 10px;
}
.nav-item {
  /*border: 1px solid;*/  		
  float: left;
  margin: 0px 10px;
  cursor: pointer;
  font-size: 16px;
}
#site-title {
	/*border: 1px solid;*/
	float: left;
  padding: 6px 0px;
  margin: 0px 0px 0px 40px;
  font-size: 22px;
  font-weight: bold;
}
.default-banner-wrapper {
  width: 102%;
  margin: -10px;
  padding: 10px;
  background: white;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.5);

  -webkit-transition: background 1s; /* For Safari 3.1 to 6.0 */
  transition: background 1s;
}
#default-banner {
  width: 780px;
  margin: 5px auto;
  /*background: rgba(252,252,252,0.98);*/
  padding: 0px;
}
#default-banner #banner-searchbar {
  float: left;
}
#default-banner #bookSearchResults {

}
#default-banner #site-title{
  float: left;
  margin: 0px 106px 0px 0px;
  font-family: 'Ubuntu', sans-serif;
}
#default-banner {

}
.default-banner-wrapper.fixed {
  position: fixed;
  top: 0;
  z-index: 100;
  margin: 0px 0px 0px -8px;
  background: #4472B9;
  overflow: visible;
}

#banner-container {
	width: 100%;
  height: 320px;
  position: relative;
  background-color: #000;
  margin: -10px 0px 0px -8px;
  padding: 0px 10px;
  color:#fff;
}
#banner-inner-container {
  width: 800px;
  margin: 0px auto;
}
#banner {
  /*border: 1px solid;*/
  box-shadow: 50px 0px 120px -20px #000 inset, 50px 0px 120px -40px #000 inset, -50px 0px 120px -20px #000 inset, -50px 0px 120px -40px #000 inset, 0px 10px 10px -10px #000 inset, 0px -10px 10px -10px #000 inset;
  max-height: 320px;
  background: white;
  height: 320px;
  width: 100%;
  position: relative;
  background: url("13.jpg");
  background-repeat: no-repeat;
}
#banner-main-group {
  /*border: 1px solid;*/
  height: 320px;
  top: 0px;
  position: absolute;
  padding: 0px 25px 0px 40px;
  font-family: 'Enriqueta', 'serif';
  text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5), 0px 0px 64px rgba(0, 0, 0, 0.25), 0px 2px rgba(0, 0, 0, 0.75);
}
#banner-tagline {
  /*border: 1px solid;*/
  max-width: 570px;
}
#banner-tagline h1 {
  font-size: 42px;
}
#banner-searchbar {
  width: 500px;
}
#banner-searchbar input {
  /*border: 1px solid;*/
  padding: 6px 10px;
  border-radius: 1px;
  border: 0px none;
  width: 470px;
  height: 22px;
  box-shadow: 0px 0px 0px 1px #555 inset, 0px 0px 0px 6px rgba(255, 255, 255, 0.5), 0px 0px 4px 6px rgba(0, 0, 0, 0.25);
  background: white url('search-icon-md.png') no-repeat;
  background-size: 25px;
  background-position: 460px 4px;
}
#banner-text {
  /*border: 1px solid;*/
  position: absolute;
  margin: 30px 0px;
  font-size: 20px;
}

.book-search-results {
  /*border: 1px solid;*/
  position: absolute;
  margin: 0px 0px 0px 1px;
  text-shadow: none;
  width: 476px;
  background-color: white;
  border: 1px solid #ccc;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 4px 14px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 4px 14px 0;
  box-shadow: rgba(0, 0, 0, 0.8) 0 4px 14px 0;
  overflow: hidden;
  padding: 0px 0px 0px 10px;
  float: left;
  z-index: 99999;
  -webkit-border-radius: 0 0 12px 12px;
  -moz-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px; 
  color: #000;
}
.book {
  color:#000;
  /*border: 1px solid;*/
  overflow: hidden;
  border-bottom: 2px solid;
}
.book:hover {
background: #E5E5E5;
}
.book .booktitle {
/*border: 1px solid;*/
float: left;
width: 380px;
padding: 0px 0px 0px 5px;
border-bottom: 2px solid #ccc;
font-size: 18px;
font-weight: bold;
margin: 10px 0px 0px 0px;
}
.book .bookcover {
/*border: 1px solid;*/
float: left;
overflow: hidden;
/*border: 1px solid;*/
margin: 5px 10px 5px 5px;
}
.book .bookauthors {
/*border: 1px solid;*/
padding: 0px 0px 0px 5px;
font-size: 16px;
width: 380px;
float: left;
}
.book .bookcategory {
/*border: 1px solid;*/
width: 380px;
padding: 0px 0px 0px 5px;
font-style: italic;
font-size: 14px;
float: left;
}
#page-wrapper .book:hover {
  background: none;
}

#main-wrapper {
  position: absolute;
  width: 100%; 
  margin: 0px auto;
}
#main-container {
width: 800px;
min-height: 500px;
margin: 20px auto;
/* border: 1px solid; */
background: #fff;
overflow: hidden;
webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
box-shadow: 0 1px 2px 1px rgba(0,0,0,0.25);
background-color: #fff;
-webkit-border-radius: 1px;
border-radius: 1px;
padding: 5px;
}
#main-container input {
  border: 1px solid #CCC;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
  padding: 0.5rem;
  width: 350px
}
#main-container input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}
 
#main-container input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

#main-container input[type="submit"],
.submit-link {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #3072b3;
  background-image: -moz-linear-gradient(#599bcd, #3072b3);
  background-image: -webkit-linear-gradient(#599bcd, #3072b3);
  background-image: linear-gradient(#599bcd, #3072b3);
  background-repeat: repeat-x;
  border-color: #2a65a0;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
}

#main-container label {
font-family: 'Noto Sans', sans-serif;
}
#main-container .book {
  position: relative;
}

.page-wrapper {

}

.book-details {
  overflow: hidden;
  float: left;
  /* border: 1px solid; */
  width: 500px;
}

.book-buttons {
  float: left;
  overflow: hidden;
  /* border: 1px solid; */
  width: 290px;
}

.btn-book {
  color: #fff;
  float: left;
  border: 1px solid;
  padding: 10px;
  margin: 36px 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #3072b3;
  background-image: -moz-linear-gradient(#599bcd, #3072b3);
  background-image: -webkit-linear-gradient(#599bcd, #3072b3);
  background-image: linear-gradient(#599bcd, #3072b3);
  background-repeat: repeat-x;
  border-color: #2a65a0;
  border-radius: 5px;
  text-align: center;
}
#footer-wrapper {
width: 800px;
margin: 0px auto;
}

#site-footer {
position: fixed;
bottom: 0px;
background: rgba(0,0,0,0.6);
position: fixed;
height: 25px;
background: none repeat scroll 0% 0% rgba(0, 0, 0, 1);
width: 800px;

text-align: center;
color: #fff;
}

.serial-number {
  float: left;
  display: inline-block;
  background: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  font-size: 17px;
  border: 1px solid #dddfe2;
  border-radius: 50%;
  text-align: center;
  margin: 15px 10px;
}

.bookitem {
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px 2px #ccc;
  padding: 10px;
  overflow: hidden;
}
.bookitem-row {
  /* border: 1px solid; */    
  float: left;
  padding: 10px 0px;
  margin: 0px 10px 0px 10px;
}
.bookitem-row.last {
  margin: 10px 10px;
}
.row-label {
  /* border: 1px solid; */    
}
.row-value {
  /* border: 1px solid; */    
}

#page-wrapper .book .bookcover {

}
#page-wrapper .book .booktitle {
  width: 564px;
  padding: 0px 0px 2px 5px;
  font-size: 25px;
}
#page-wrapper .book .book-details-row {
  float: left;
  overflow: hidden;
  width: 564px;
  padding: 10px 0px;
}
#page-wrapper .book .book-details-row.bottom-border {
  border-bottom: 1px solid #ccc;
} 
#page-wrapper .book .book-details-row div {
  width: 564px;
  font-size: 18px;
  padding: 3px 0px 3px 5px;
}
#page-wrapper .book .bookisbn {

}
#page-wrapper .book .bookdescription {

}
#page-wrapper .book a,
#page-wrapper .book a:link,
#page-wrapper .book a:hover,
#page-wrapper .book a:visited{
  text-decoration: none;
  color: #ffffff;
} 
.blue-text {
  color: #136cb2;
}
.tooltip, .arrow:after {
  background: black;
  border: 2px solid white;
}

.tooltip {
  pointer-events: none;
  opacity: 0;
  display: inline-block;
  position: absolute;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  font-stretch: condensed;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 7px black;
}
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 6px 5px 9px -9px black,
                      5px 6px 9px -9px black;
  -moz-box-shadow: 6px 5px 9px -9px black,
                   5px 6px 9px -9px black;
  box-shadow: 6px 5px 9px -9px black,
              5px 6px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}
.tooltip.active {
  opacity: 1;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
.tooltip.out {
  opacity: 0;
  margin-top: -20px;
}

.is-false {
  width: 31px;
  height: 31px;
  background-image: url("/assets/false.png");
  -webkit-background-size: 31px 31px;
  background-size: 31px 31px;
  background-repeat: no-repeat;     
}
.is-true {
  width: 31px;
  height: 31px;
  background-image: url("/assets/true.png");
  -webkit-background-size: 31px 31px;
  background-size: 31px 31px;
  background-repeat: no-repeat;
}

.modal-backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1040;
      background-color: #000000;
    } 
    .fade {
      -webkit-transition: opacity 0.15s linear;
      -moz-transition: opacity 0.15s linear;
      -ms-transition: opacity 0.15s linear;
      -o-transition: opacity 0.15s linear;
      transition: opacity 0.15s linear;
      opacity: 0;
    }
    .in {
      opacity: 0.8;
    }
    .modal {
      position: fixed;
      top: 20%;
      left: 50%;
      z-index: 1050;
      overflow: auto;
      width: 560px;
      margin: -0px 0 0 -280px;
      background-color: #ffffff;
      /*border: 1px solid #999;
      border: 1px solid rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;*/
      -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      background-clip: padding-box;
    }
    .modal-header {
      padding: 10px;
      width: 96.5%;
      background: #4472B9;
      color: #ffffff;
      overflow: hidden;
    }
    .modal-header-text {
      float: left;
    }
    .modal-close {
      float: right;
      height: 20px;
      width: 20px;
      background: url('/assets/close-1.png');
      background-size: 20px;
      cursor: pointer;
    }
    .modal-body {
    }
    .modal-row {
      padding: 10px;
    }

    .user {
      border-bottom: 1px solid #ccc;
      padding: 5px;
    }
    .avatar {
      background: url('/assets/avatar.png');
      float: left;
      height: 70px;
      width: 70px;
      background-size: 70px;
    }
    .row {
      padding: 5px
    }
    .row-left,
    .name,
    .email,
    .row-btn {
      float: left;
    }
    .empid {
      float: right;
    }
    .row-left-top {
      border-bottom: 2px solid #ccc;
    }
    .row-left-top,
    .row-left-bottom {
      margin: 0px 0px 3px 2px;
    }
    .user,
    .row,
    .row-left,
    .row-left-top,
    .row-right,
    .user,
    .row-left-bottom {
      overflow: hidden;
    }
    .row-left {
        margin: 0px 10px 0px 0px;
        width: 320px;
    }
    .name,
    .empid {
      margin: 0px 10px 0px 0px;
    }
    .row-right {
      padding: 15px 0px 0px 15px;     
    }


    .container-2 {
      margin: 5px;
      overflow: hidden;
    }
    .item-wrapper {
      float: left;
      margin: 10px 20px;
      box-shadow: 0px 1px 4px rgba(0,0,0,0.8);
      padding: 10px 10px 6px 10px;
      cursor: pointer;
      max-width: 130px;
    }
    .bottom-cover {
      border: 1px solid;  
    }