// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bookitem {
		border: 1px solid;
	}
	.bookitem-row {
		border: 1px solid;		
	}
	.row-label {
		border: 1px solid;		
	}
	.row-value {
		border: 1px solid;		
	}

	#page-wrapper .book .bookcover {

	}
	#page-wrapper .book .booktitle {
		width: 564px;
		padding: 0px 0px 2px 5px;
		font-size: 25px;
	}
	#page-wrapper .book .book-details-row {
		float: left;
		overflow: hidden;
		width: 564px;
		padding: 10px 0px;
	}
	#page-wrapper .book .book-details-row.bottom-border {
		border-bottom: 1px solid #ccc;
	}	
	#page-wrapper .book .book-details-row div {
		width: 564px;
		font-size: 18px;
		padding: 3px 0px 3px 5px;
	}
	#page-wrapper .book .bookisbn {

	}
	#page-wrapper .book .bookdescription {

	}
	#page-wrapper .book a,
	#page-wrapper .book a:link,
	#page-wrapper .book a:hover,
	#page-wrapper .book a:visited{
	  text-decoration: none;
	  color: #ffffff;
	} 
	.blue-text {
		color: #136cb2;
	}