<% content_for :head do %>
	<script type="text/javascript">
		function Randomize() {
			var images = new Array("/assets/1.jpg",
								   "/assets/2.jpg",
								   "/assets/3.jpg",
								   "/assets/7.jpg",
								   "/assets/8.jpg",
								   "/assets/9.jpg",
								   "/assets/10.jpg",
								   "/assets/11.jpg",
								   "/assets/12.jpg",
								   "/assets/13.jpg",
								   "/assets/14.jpg"
								   );
			var imageNum = Math.floor(Math.random() * images.length);
			document.getElementById("banner").style.background = "url('" + images[imageNum] + "')";
		}

		window.onload = Randomize;
	</script>
<% end %>

<% content_for :banner do %>
  	<div id="banner-container">
		<div id="banner-inner-container">
			<div id="banner"></div>
			<div id="banner-main-group" class="">
				<div id="banner-tagline" class="">
					<h1>Welcome to the FIRM ODC Library Manager</h1>
				</div>
				<div id="banner-searchbar" class="">
					<input type="text" id="searchBookData" class="search-input" placeholder="Search for your favorite book"></input>
					<div id="bookSearchResults" class="book-search-results" style="visibility:hidden">

					</div>
				</div>
				<div id="banner-text" class="">
					<span>Search for books and their availability. Manage books and book issues.</span>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div id="page-wrapper">
	<div class="container-2">
		<% if user_signed_in? %>
			<% @user.bookissues.each do |bookissue| %>
				<% if bookissue.status %>
					<% bookitem = bookissue.bookitem %>
					<div class="item-wrapper">
						<%= link_to (image_tag bookitem.book.cover.url(:small)), book_bookitem_path(bookitem.book,bookitem) %>
					</div>
				<% end %>
			<% end %>
		<% else %>
			<% @books.each do |book| %>
					<div class="item-wrapper" title="<% book.title %>">
						<%= link_to (image_tag book.cover.url(:small)), book_path(book) %>
					</div>
			<% end %>
		<% end %>
	</div>
</div>