<% @books.each do |book| %>
	<div class="book">
		<div class="bookcover">
			<%= image_tag book.cover.url(:thumb) %>
		</div>
		<div class="booktitle">
			<%= link_to "#{book.title}", book_path(book) %>
		</div>
		<div class="bookcategory">
			<%= book.category %>
		</div>
		<div class="bookauthors">
			<%= book.authors %>
		</div>
	</div>
<% end %>