<% content_for :head do %>
  	<script type="text/javascript">
    	<%= render :partial => "shared/searchuser", :formats=>[:js] %>
  	</script>
<% end %>

<h1>Book Issue</h1>
<%= @book.title %>
<br />
<p>
	Book Item Owner:&nbsp 
	<%= @bookitem.user.name %>
</p>
Search User:
<input style="width:150px;" id="searchData" type="text"></div>
<div id="searchResults" style="visibility:hidden"></div>
