<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style type="text/css">

    </style>

  </head>
  <body>
    <h1>Welcome to Firm ODC Library Manager, <%= @user.name %></h1>
    <p>
      To login to the site,
    </p>
    <p><strong>Email: </strong><%= @user.email %></p>
    <p><strong>Password: </strong><%= @user.password %></p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>