<div id="banner-container">
	<div id="banner-inner-container">
		<div id="banner"></div>
		<div id="banner-main-group" class="">
			<div id="banner-tagline" class="">
				<h1>Welcome to the FIRM ODC Library Manager</h1>
			</div>
			<div id="banner-searchbar" class="">
				<input type="text" id="searchBookData" class="search-input" placeholder="Search for your favorite book"></input>
				<div id="bookSearchResults" class="book-search-results" style="visibility:hidden">

				</div>
			</div>
			<div id="banner-text" class="">
				<span>Search for books and their availability. Manage books and book issues.</span>
			</div>
		</div>
	</div>
</div>